django-okta-client
devautotools==0.1.2.dev19
docstring_parser==0.16
gevent==25.5.1
greenlet==3.2.3
gunicorn==23.0.0
introspection==1.10.2
ordered-set==4.1.0
packaging==25.0
psycogreen==1.0.2
psycopg-binary==3.2.9
sentinel==1.0.0
setuptools==80.9.0
simplifiedapp==0.7.4
tomli==2.2.1
typing_extensions==4.14.0
zope.event==5.0
zope.interface==7.2
